package $packageName;

import static org.junit.Assert.*;
import org.junit.Test;
import org.roussev.selenium4j.WebTest;

@SuppressWarnings("all")
public class $className extends WebTest {
  
    @Test
  	public void testMethod() throws Exception {
  		startSelenium("$driver", "$webSite");
		$methodBody
  	}	
  
}